body{
  margin-top: 20px;
  margin-right:20px;
  margin-bottom: 20px;
  margin-left: 20px;
}
table{
  text-align: center;
  border-collapse: collapse;
}
#menu-principal{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  padding-right: 0px;
}
::before
#menu-principal a + a::before {
content: " | ";
color: black;
}
footer{
margin-top: 20px;
border-top: solid 1px black;
padding-top: 10px;
text-align: center;
}

table, th, td {
	border: solid 1px black;
	padding: 10px;
}

tbody tr:nth-child(even) {
	background: #CCC;
}

tbody tr:nth-child(odd) {
	background: #CCF;
}

tbody tr:nth-child(even):hover {
	background: #DDD;
}

tbody tr:nth-child(odd):hover {
	background: #DDF;
}

.sombra {
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
}
